<div>
    <form action="post" (submit)="onSubmit($event)">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="phoneNo">Phone No</label>
        <input type="text" name="phoneNo" id="phoneNo">
        <label for="username">username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
        <label for="cpassword">confirm password</label>
        <input type="password" name="cpassword" id="cpassword" required>
        <input type="submit" value="Create My Account">
    </form>
</div>