<div>
    <div class="alert"></div>
    <form (ngSubmit)="onSubmit($event)" #registerForm="ngForm">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" required>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" required>
        <label for="sex">Sex</label>
        <select><option value='male'>male</option><option value='female'>female</option></select>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="email" required>
        <label for="phoneNo">Phone No</label>
        <input type="text" name="phoneNo" id="phoneNo" [(ngModel)]="phoneNo">
        <label for="username">username</label>
        <input type="text" name="username" id="username" [(ngModel)]="username" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password" required>
        <label for="cpassword">confirm password</label>
        <input type="password" name="cpassword" id="cpassword" [(ngModel)]="cpassword" required>
        <input type="submit" value="Create My Account" [disabled]="!registerForm.form.valid">
    </form>
</div>